.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    height: 75vh;
    font-size: 48px;
    color: white;
    text-transform: uppercase;
}