@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: ketika;
  src: url(Ketika-Light.ttf);
}

@font-face {
  font-family: walton;
  src: url(Walton-personal_use.ttf);
}
